{% extends "autoservice/base.html" %}

{% block content %}
  <h1>О компании</h1>
  <p>Наша компания &laquo;Автосервис&raquo; — это современный сервисный центр, предлагающий широкий ассортимент услуг по обслуживанию и ремонту автомобилей. Мы стремимся обеспечить высокий уровень качества, используя передовые технологии и профессиональный подход ко всем клиентам.</p>
  <p>Наша команда опытных специалистов всегда готова помочь вам быстро и качественно решить любую проблему, связанную с вашим автомобилем. Мы ценим доверие наших клиентов и стремимся сделать сервис максимально удобным и доступным!</p>
{% endblock %}
