<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ панель автосервиса</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <header>
        <h1>Админ панель автосервиса</h1>
        <nav>
            <ul>
                <li><a href="{% url 'admin-dashboard' %}">Главная админки</a></li>
                <li><a href="{% url 'admin-orders' %}">Заказы</a></li>
                <li><a href="{% url 'admin-misc' %}">Управление услугами</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2025 Автосервис — Админ панель</p>
    </footer>
</body>
</html>
