{% extends "autoservice/base.html" %}

{% block content %}
<h2>{{ service.name }}</h2>

{% if service.image %}
    <img src="{{ service.image.url }}" alt="{{ service.name }}" style="max-width:300px;">
{% endif %}

<p><strong>Цена:</strong> {{ service.price }} BYN</p>

{% if service.description %}
    <p>{{ service.description }}</p>
{% else %}
    <p>Описание услуги пока отсутствует.</p>
{% endif %}

<a href="{% url 'add_to_cart' 'service' service.pk %}" class="btn">Добавить в корзину</a>
{% endblock %}
