{% extends "autoservice/base.html" %}
{% block content %}
<h1>Отзывы</h1>
<ul>
  {% for review in reviews %}
    <li>
      <p><strong>{{ review.name }}</strong> – Оценка: {{ review.rating }}</p>
      <p>{{ review.text }}</p>
      <small>{{ review.date_added|date:"d/m/Y" }}</small>
    </li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
  <a href="{% url 'add_review' %}">Добавить отзыв</a>
{% else %}
  <a href="{% url 'login' %}?next={% url 'add_review' %}">Войдите, чтобы оставить отзыв</a>
{% endif %}
{% endblock %}
